openapi: 3.2.0
info:
  title: ThingsBoard Telemetry Entity Query Controller API
  description: 'ThingsBoard Telemetry API — subset of the ThingsBoard REST API (open-source IoT platform). Covers: Telemetry, Entity Query, Calculated Field.'
  version: 4.3.0.3DEMO
  contact:
    name: ThingsBoard team
    url: https://thingsboard.io
    email: info@thingsboard.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://demo.thingsboard.io
  description: ThingsBoard Live Demo
- url: http://localhost:8080
  description: Local ThingsBoard server
tags:
- name: entity-query-controller
  description: Entity Query
paths:
  /api/entitiesQuery/find:
    post:
      tags:
      - entity-query-controller
      summary: Find Entity Data by Query
      description: Allows to run complex queries over platform entities (devices, assets, customers, etc) based on the combination of main entity filter and multiple key filters.
      operationId: findEntityDataByQuery
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityDataQuery'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageDataEntityData'
  /api/entitiesQuery/find/keys:
    post:
      tags:
      - entity-query-controller
      summary: Find Available Entity Keys by Query
      description: 'Returns unique time series and/or attribute key names from entities matching the query.


        Executes the Entity Data Query to find up to 100 entities, then fetches and aggregates all distinct key names.


        Primarily used for UI features like autocomplete suggestions.


        Available for users with ''TENANT_ADMIN'' or ''CUSTOMER_USER'' authority.'
      operationId: findAvailableEntityKeysByQuery
      parameters:
      - name: timeseries
        in: query
        description: 'When true, includes unique time series key names in the response.

          When false, the ''timeseries'' list will be empty.'
        required: true
        schema:
          type: boolean
      - name: attributes
        in: query
        description: 'When true, includes unique attribute key names in the response.

          When false, the ''attribute'' list will be empty. Use ''scope'' parameter to filter by attribute scope.'
        required: true
        schema:
          type: boolean
      - name: scope
        in: query
        description: 'Filters attribute keys by scope. Only applies when ''attributes'' is true.

          If not specified, returns attribute keys from all scopes.'
        required: false
        schema:
          type: string
          enum:
          - SERVER_SCOPE
          - SHARED_SCOPE
          - CLIENT_SCOPE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityDataQuery'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableEntityKeys'
  /api/entitiesQuery/count:
    post:
      tags:
      - entity-query-controller
      summary: Count Entities by Query
      description: Allows to run complex queries to search the count of platform entities (devices, assets, customers, etc) based on the combination of main entity filter and multiple key filters.
      operationId: countEntitiesByQuery
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityCountQuery'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: integer
                format: int64
  /api/edqs/system/request:
    post:
      tags:
      - entity-query-controller
      operationId: processSystemEdqsRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToCoreEdqsRequest'
        required: true
      responses:
        '200':
          description: OK
      summary: Process system edqs request
      x-summary-source: derived
  /api/alarmsQuery/find:
    post:
      tags:
      - entity-query-controller
      summary: Find Alarms by Query
      description: 'This method description defines how Alarm Data Query extends the Entity Data Query. See method ''Find Entity Data by Query'' first to get the info about ''Entity Data Query''.


        The platform will first search the entities that match the entity and key filters. Then, the platform will use ''Alarm Page Link'' to filter the alarms related to those entities. Finally, platform fetch the properties of alarm that are defined in the **''alarmFields''** and combine them with the other entity, attribute and latest time series fields to return the result.


        See example of the alarm query below. The query will search first 100 active alarms with type ''Temperature Alarm'' or ''Fire Alarm'' for any device with current temperature > 0. The query will return combination of the entity fields: name of the device, device model and latest temperature reading and alarms fields: createdTime, type, severity and status:


        ```json

        {

        "entityFilter": {

        "type": "entityType",

        "resolveMultiple": true,

        "entityType": "DEVICE"

        },

        "pageLink": {

        "page": 0,

        "pageSize": 100,

        "textSearch": null,

        "searchPropagatedAlarms": false,

        "statusList": [

        "ACTIVE"

        ],

        "severityList": [

        "CRITICAL",

        "MAJOR"

        ],

        "typeList": [

        "Temperature Alarm",

        "Fire Alarm"

        ],

        "sortOrder": {

        "key": {

        "key": "createdTime",

        "type": "ALARM_FIELD"

        },

        "direction": "DESC"

        },

        "timeWindow": 86400000

        },

        "keyFilters": [

        {

        "key": {

        "type": "TIME_SERIES",

        "key": "temperature"

        },

        "valueType": "NUMERIC",

        "predicate": {

        "operation": "GREATER",

        "value": {

        "defaultValue": 0,

        "dynamicValue": null

        },

        "type": "NUMERIC"

        }

        }

        ],

        "alarmFields": [

        {

        "type": "ALARM_FIELD",

        "key": "createdTime"

        },

        {

        "type": "ALARM_FIELD",

        "key": "type"

        },

        {

        "type": "ALARM_FIELD",

        "key": "severity"

        },

        {

        "type": "ALARM_FIELD",

        "key": "status"

        }

        ],

        "entityFields": [

        {

        "type": "ENTITY_FIELD",

        "key": "name"

        }

        ],

        "latestValues": [

        {

        "type": "ATTRIBUTE",

        "key": "model"

        },

        {

        "type": "TIME_SERIES",

        "key": "temperature"

        }

        ]

        }

        ```'
      operationId: findAlarmDataByQuery
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlarmDataQuery'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageDataAlarmData'
  /api/alarmsQuery/count:
    post:
      tags:
      - entity-query-controller
      summary: Count Alarms by Query (countAlarmsByQuery)
      description: Returns the number of alarms that match the query definition.
      operationId: countAlarmsByQuery
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlarmCountQuery'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: integer
                format: int64
  /api/edqs/state:
    get:
      tags:
      - entity-query-controller
      operationId: getEdqsState
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdqsState'
      summary: Get edqs state
      x-summary-source: derived
components:
  schemas:
    AssetTypeFilter:
      allOf:
      - $ref: '#/components/schemas/EntityFilter'
      - type: object
        properties:
          assetType:
            type: string
            deprecated: true
            writeOnly: true
          assetTypes:
            type: array
            items:
              type: string
          assetNameFilter:
            type: string
    EdqsSyncRequest:
      type: object
      properties:
        objectTypes:
          type: array
          items:
            type: string
            enum:
            - TENANT
            - TENANT_PROFILE
            - CUSTOMER
            - QUEUE
            - RPC
            - RULE_CHAIN
            - OTA_PACKAGE
            - RESOURCE
            - EVENT
            - RULE_NODE
            - USER
            - EDGE
            - WIDGETS_BUNDLE
            - WIDGET_TYPE
            - DASHBOARD
            - DEVICE_PROFILE
            - DEVICE
            - DEVICE_CREDENTIALS
            - ASSET_PROFILE
            - ASSET
            - ENTITY_VIEW
            - ALARM
            - ENTITY_ALARM
            - OAUTH2_CLIENT
            - OAUTH2_DOMAIN
            - OAUTH2_MOBILE
            - USER_SETTINGS
            - NOTIFICATION_TARGET
            - NOTIFICATION_TEMPLATE
            - NOTIFICATION_RULE
            - ALARM_COMMENT
            - API_USAGE_STATE
            - QUEUE_STATS
            - AUDIT_LOG
            - RELATION
            - ATTRIBUTE_KV
            - LATEST_TS_KV
          uniqueItems: true
    ComplexFilterPredicate:
      allOf:
      - $ref: '#/components/schemas/KeyFilterPredicate'
      - type: object
        properties:
          operation:
            type: string
            enum:
            - AND
            - OR
          predicates:
            type: array
            items: {}
      - type: object
        properties:
          operation:
            type: string
            enum:
            - AND
            - OR
          predicates:
            type: array
            items:
              oneOf:
              - $ref: '#/components/schemas/BooleanFilterPredicate'
              - $ref: '#/components/schemas/ComplexFilterPredicate'
              - $ref: '#/components/schemas/NumericFilterPredicate'
              - $ref: '#/components/schemas/StringFilterPredicate'
    KeyFilterPredicate:
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
      required:
      - type
    BooleanFilterPredicate:
      allOf:
      - $ref: '#/components/schemas/KeyFilterPredicate'
      - type: object
        properties:
          operation:
            type: string
            enum:
            - EQUAL
            - NOT_EQUAL
          value:
            $ref: '#/components/schemas/FilterPredicateValueBoolean'
    DynamicValueString:
      type: object
      properties:
        sourceType:
          type: string
          enum:
          - CURRENT_TENANT
          - CURRENT_CUSTOMER
          - CURRENT_USER
          - CURRENT_DEVICE
        sourceAttribute:
          type: string
        inherit:
          type: boolean
        resolvedValue:
          type: string
    NumericFilterPredicate:
      allOf:
      - $ref: '#/components/schemas/KeyFilterPredicate'
      - type: object
        properties:
          operation:
            type: string
            enum:
            - EQUAL
            - NOT_EQUAL
            - GREATER
            - LESS
            - GREATER_OR_EQUAL
            - LESS_OR_EQUAL
          value:
            $ref: '#/components/schemas/FilterPredicateValueDouble'
    DeviceSearchQueryFilter:
      allOf:
      - $ref: '#/components/schemas/EntityFilter'
      - type: object
        properties:
          rootEntity:
            $ref: '#/components/schemas/AliasEntityId'
          relationType:
            type: string
          direction:
            type: string
            enum:
            - FROM
            - TO
          maxLevel:
            type: integer
            format: int32
          fetchLastLevelOnly:
            type: boolean
          rootStateEntity:
            type: boolean
          defaultStateEntity:
            $ref: '#/components/schemas/AliasEntityId'
          deviceTypes:
            type: array
            items:
              type: string
    EntityCountQuery:
      type: object
      description: A JSON value representing the entity count query. See API call notes above for more details.
      properties:
        entityFilter:
          oneOf:
          - $ref: '#/components/schemas/ApiUsageStateFilter'
          - $ref: '#/components/schemas/AssetSearchQueryFilter'
          - $ref: '#/components/schemas/AssetTypeFilter'
          - $ref: '#/components/schemas/DeviceSearchQueryFilter'
          - $ref: '#/components/schemas/DeviceTypeFilter'
          - $ref: '#/components/schemas/EdgeSearchQueryFilter'
          - $ref: '#/components/schemas/EdgeTypeFilter'
          - $ref: '#/components/schemas/EntityListFilter'
          - $ref: '#/components/schemas/EntityNameFilter'
          - $ref: '#/components/schemas/EntityTypeFilter'
          - $ref: '#/components/schemas/EntityViewSearchQueryFilter'
          - $ref: '#/components/schemas/EntityViewTypeFilter'
          - $ref: '#/components/schemas/RelationsQueryFilter'
          - $ref: '#/components/schemas/SingleEntityFilter'
        keyFilters:
          type: array
          items:
            $ref: '#/components/schemas/KeyFilter'
    AvailableEntityKeys:
      type: object
      description: Contains unique time series and attribute key names discovered from entities matching a query. Used primarily for UI hints such as autocomplete suggestions.
      properties:
        entityTypes:
          type: array
          description: Set of entity types found among the matched entities.
          example:
          - DEVICE
          - ASSET
          items:
            type: string
            enum:
            - TENANT
            - CUSTOMER
            - USER
            - DASHBOARD
            - ASSET
            - DEVICE
            - ALARM
            - RULE_CHAIN
            - RULE_NODE
            - ENTITY_VIEW
            - WIDGETS_BUNDLE
            - WIDGET_TYPE
            - TENANT_PROFILE
            - DEVICE_PROFILE
            - ASSET_PROFILE
            - API_USAGE_STATE
            - TB_RESOURCE
            - OTA_PACKAGE
            - EDGE
            - RPC
            - QUEUE
            - NOTIFICATION_TARGET
            - NOTIFICATION_TEMPLATE
            - NOTIFICATION_REQUEST
            - NOTIFICATION
            - NOTIFICATION_RULE
            - QUEUE_STATS
            - OAUTH2_CLIENT
            - DOMAIN
            - MOBILE_APP
            - MOBILE_APP_BUNDLE
            - CALCULATED_FIELD
            - JOB
            - ADMIN_SETTINGS
            - AI_MODEL
            - API_KEY
          uniqueItems: true
        timeseries:
          type: array
          items:
            type: string
            example: temperature
            uniqueItems: true
          uniqueItems: true
        attribute:
          type: array
          items:
            type: string
            example: serialNumber
            uniqueItems: true
          uniqueItems: true
      required:
      - attribute
      - entityTypes
      - timeseries
    RelationsQueryFilter:
      allOf:
      - $ref: '#/components/schemas/EntityFilter'
      - type: object
        properties:
          rootEntity:
            $ref: '#/components/schemas/AliasEntityId'
          multiRootEntitiesType:
            type: string
            enum:
            - TENANT
            - CUSTOMER
            - USER
            - DASHBOARD
            - ASSET
            - DEVICE
            - ALARM
            - RULE_CHAIN
            - RULE_NODE
            - ENTITY_VIEW
            - WIDGETS_BUNDLE
            - WIDGET_TYPE
            - TENANT_PROFILE
            - DEVICE_PROFILE
            - ASSET_PROFILE
            - API_USAGE_STATE
            - TB_RESOURCE
            - OTA_PACKAGE
            - EDGE
            - RPC
            - QUEUE
            - NOTIFICATION_TARGET
            - NOTIFICATION_TEMPLATE
            - NOTIFICATION_REQUEST
            - NOTIFICATION
            - NOTIFICATION_RULE
            - QUEUE_STATS
            - OAUTH2_CLIENT
            - DOMAIN
            - MOBILE_APP
            - MOBILE_APP_BUNDLE
            - CALCULATED_FIELD
            - JOB
            - ADMIN_SETTINGS
            - AI_MODEL
            - API_KEY
          multiRootEntityIds:
            type: array
            items:
              type: string
            uniqueItems: true
          direction:
            type: string
            enum:
            - FROM
            - TO
          filters:
            type: array
            items:
              $ref: '#/components/schemas/RelationEntityTypeFilter'
          maxLevel:
            type: integer
            format: int32
          fetchLastLevelOnly:
            type: boolean
          negate:
            type: boolean
          rootStateEntity:
            type: boolean
          defaultStateEntity:
            $ref: '#/components/schemas/AliasEntityId'
          multiRoot:
            type: boolean
    EntityViewSearchQueryFilter:
      allOf:
      - $ref: '#/components/schemas/EntityFilter'
      - type: object
        properties:
          rootEntity:
            $ref: '#/components/schemas/AliasEntityId'
          relationType:
            type: string
          direction:
            type: string
            enum:
            - FROM
            - TO
          maxLevel:
            type: integer
            format: int32
          fetchLastLevelOnly:
            type: boolean
          rootStateEntity:
            type: boolean
          defaultStateEntity:
            $ref: '#/components/schemas/AliasEntityId'
          entityViewTypes:
            type: array
            items:
              type: string
    RelationEntityTypeFilter:
      type: object
      properties:
        relationType:
          type: string
          description: Type of the relation between root entity and other entity (e.g. 'Contains' or 'Manages').
          example: Contains
        entityTypes:
          type: array
          description: Array of entity types to filter the related entities (e.g. 'DEVICE', 'ASSET').
          items:
            type: string
            enum:
            - TENANT
            - CUSTOMER
            - USER
            - DASHBOARD
            - ASSET
            - DEVICE
            - ALARM
            - RULE_CHAIN
            - RULE_NODE
            - ENTITY_VIEW
            - WIDGETS_BUNDLE
            - WIDGET_TYPE
            - TENANT_PROFILE
            - DEVICE_PROFILE
            - ASSET_PROFILE
            - API_USAGE_STATE
            - TB_RESOURCE
            - OTA_PACKAGE
            - EDGE
            - RPC
            - QUEUE
            - NOTIFICATION_TARGET
            - NOTIFICATION_TEMPLATE
            - NOTIFICATION_REQUEST
            - NOTIFICATION
            - NOTIFICATION_RULE
            - QUEUE_STATS
            - OAUTH2_CLIENT
            - DOMAIN
            - MOBILE_APP
            - MOBILE_APP_BUNDLE
            - CALCULATED_FIELD
            - JOB
            - ADMIN_SETTINGS
            - AI_MODEL
            - API_KEY
        negate:
          type: boolean
          description: Negate relation type between root entity and other entity.
    EntityData:
      type: object
      properties:
        entityId:
          $ref: '#/components/schemas/EntityId'
        latest:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/TsValue'
        timeseries:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/TsValue'
        aggLatest:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ComparisonTsValue'
    UserId:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: ID of the entity, time-based UUID v1
          example: 784f394c-42b6-435a-983c-b7beff2784f9
        entityType:
          type: string
          description: string
          enum:
          - USER
          example: USER
      required:
      - entityType
      - id
    EntityNameFilter:
      allOf:
      - $ref: '#/components/schemas/EntityFilter'
      - type: object
        properties:
          entityType:
            type: string
            enum:
            - TENANT
            - CUSTOMER
            - USER
            - DASHBOARD
            - ASSET
            - DEVICE
            - ALARM
            - RULE_CHAIN
            - RULE_NODE
            - ENTITY_VIEW
            - WIDGETS_BUNDLE
            - WIDGET_TYPE
            - TENANT_PROFILE
            - DEVICE_PROFILE
            - ASSET_PROFILE
            - API_USAGE_STATE
            - TB_RESOURCE
            - OTA_PACKAGE
            - EDGE
            - RPC
            - QUEUE
            - NOTIFICATION_TARGET
            - NOTIFICATION_TEMPLATE
            - NOTIFICATION_REQUEST
            - NOTIFICATION
            - NOTIFICATION_RULE
            - QUEUE_STATS
            - OAUTH2_CLIENT
            - DOMAIN
            - MOBILE_APP
            - MOBILE_APP_BUNDLE
            - CALCULATED_FIELD
            - JOB
            - ADMIN_SETTINGS
            - AI_MODEL
            - API_KEY
          entityNameFilter:
            type: string
    EntityListFilter:
      allOf:
      - $ref: '#/components/schemas/EntityFilter'
      - type: object
        properties:
          entityType:
            type: string
            enum:
            - TENANT
            - CUSTOMER
            - USER
            - DASHBOARD
            - ASSET
            - DEVICE
            - ALARM
            - RULE_CHAIN
            - RULE_NODE
            - ENTITY_VIEW
            - WIDGETS_BUNDLE
            - WIDGET_TYPE
            - TENANT_PROFILE
            - DEVICE_PROFILE
            - ASSET_PROFILE
            - API_USAGE_STATE
            - TB_RESOURCE
            - OTA_PACKAGE
            - EDGE
            - RPC
            - QUEUE
            - NOTIFICATION_TARGET
            - NOTIFICATION_TEMPLATE
            - NOTIFICATION_REQUEST
            - NOTIFICATION
            - NOTIFICATION_RULE
            - QUEUE_STATS
            - OAUTH2_CLIENT
            - DOMAIN
            - MOBILE_APP
            - MOBILE_APP_BUNDLE
            - CALCULATED_FIELD
            - JOB
            - ADMIN_SETTINGS
            - AI_MODEL
            - API_KEY
          entityList:
            type: array
            items:
              type: string
    AliasEntityId:
      type: object
      properties:
        aliasEntityType:
          type: string
          enum:
          - CURRENT_CUSTOMER
          - CURRENT_TENANT
          - CURRENT_USER
          - CURRENT_USER_OWNER
        id:
          type: string
          format: uuid
          description: ID of the entity, time-based UUID v1
          example: 784f394c-42b6-435a-983c-b7beff2784f9
        entityType:
          type: string
          enum:
          - TENANT
          - CUSTOMER
          - USER
          - DASHBOARD
          - ASSET
          - DEVICE
          - ALARM
          - RULE_CHAIN
          - RULE_NODE
          - ENTITY_VIEW
          - WIDGETS_BUNDLE
          - WIDGET_TYPE
          - TENANT_PROFILE
          - DEVICE_PROFILE
          - ASSET_PROFILE
          - API_USAGE_STATE
          - TB_RESOURCE
          - OTA_PACKAGE
          - EDGE
          - RPC
          - QUEUE
          - NOTIFICATION_TARGET
          - NOTIFICATION_TEMPLATE
          - NOTIFICATION_REQUEST
          - NOTIFICATION
          - NOTIFICATION_RULE
          - QUEUE_STATS
          - OAUTH2_CLIENT
          - DOMAIN
          - MOBILE_APP
          - MOBILE_APP_BUNDLE
          - CALCULATED_FIELD
          - JOB
          - ADMIN_SETTINGS
          - AI_MODEL
          - API_KEY
          example: DEVICE
      required:
      - entityType
      - id
    AlarmDataPageLink:
      type: object
      properties:
        startTs:
          type: integer
          format: int64
        endTs:
          type: integer
          format: int64
        timeWindow:
          type: integer
          format: int64
        typeList:
          type: array
          items:
            type: string
        statusList:
          type: array
          items:
            type: string
            enum:
            - ANY
            - ACTIVE
            - CLEARED
            - ACK
            - UNACK
        severityList:
          type: array
          items:
            type: string
            enum:
            - CRITICAL
            - MAJOR
            - MINOR
            - WARNING
            - INDETERMINATE
        searchPropagatedAlarms:
          type: boolean
        assigneeId:
          $ref: '#/components/schemas/UserId'
        pageSize:
          type: integer
          format: int32
        page:
          type: integer
          format: int32
        textSearch:
          type: string
        sortOrder:
          $ref: '#/components/schemas/EntityDataSortOrder'
        dynamic:
          type: boolean
    EntityFilter:
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
      required:
      - type
    EntityId:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: ID of the entity, time-based UUID v1
          example: 784f394c-42b6-435a-983c-b7beff2784f9
        entityType:
          type: string
          enum:
          - TENANT
          - CUSTOMER
          - USER
          - DASHBOARD
          - ASSET
          - DEVICE
          - ALARM
          - RULE_CHAIN
          - RULE_NODE
          - ENTITY_VIEW
          - WIDGETS_BUNDLE
          - WIDGET_TYPE
          - TENANT_PROFILE
          - DEVICE_PROFILE
          - ASSET_PROFILE
          - API_USAGE_STATE
          - TB_RESOURCE
          - OTA_PACKAGE
          - EDGE
          - RPC
          - QUEUE
          - NOTIFICATION_TARGET
          - NOTIFICATION_TEMPLATE
          - NOTIFICATION_REQUEST
          - NOTIFICATION
          - NOTIFICATION_RULE
          - QUEUE_STATS
          - OAUTH2_CLIENT
          - DOMAIN
          - MOBILE_APP
          - MOBILE_APP_BUNDLE
          - CALCULATED_FIELD
          - JOB
          - ADMIN_SETTINGS
          - AI_MODEL
          - API_KEY
          example: DEVICE
      required:
      - entityType
      - id
    StringFilterPredicate:
      allOf:
      - $ref: '#/components/schemas/KeyFilterPredicate'
      - type: object
        properties:
          operation:
            type: string
            enum:
            - EQUAL
            - NOT_EQUAL
            - STARTS_WITH
            - ENDS_WITH
            - CONTAINS
            - NOT_CONTAINS
            - IN
            - NOT_IN
          value:
            $ref: '#/components/schemas/FilterPredicateValueString'
          ignoreCase:
            type: boolean
    PageDataAlarmData:
      type: object
      properties:
        data:
          type: array
          description: Array of the entities
          items:
            $ref: '#/components/schemas/AlarmData'
          readOnly: true
        totalPages:
          type: integer
          format: int32
          description: Total number of available pages. Calculated based on the 'pageSize' request parameter and total number of entities that match search criteria
          readOnly: true
        totalElements:
          type: integer
          format: int64
          description: Total number of elements in all available pages
          readOnly: true
        hasNext:
          type: boolean
          description: '''false'' value indicates the end of the result set'
          readOnly: true
    PageDataEntityData:
      type: object
      properties:
        data:
          type: array
          description: Array of the entities
          items:
            $ref: '#/components/schemas/EntityData'
          readOnly: true
        totalPages:
          type: integer
          format: int32
          description: Total number of available pages. Calculated based on the 'pageSize' request parameter and total number of entities that match search criteria
          readOnly: true
        totalElements:
          type: integer
          format: int64
          description: Total number of elements in all available pages
          readOnly: true
        hasNext:
          type: boolean
          description: '''false'' value indicates the end of the result set'
          readOnly: true
    EntityKey:
      type: object
      properties:
        type:
          type: string
          enum:
          - ATTRIBUTE
          - CLIENT_ATTRIBUTE
          - SHARED_ATTRIBUTE
          - SERVER_ATTRIBUTE
          - TIME_SERIES
          - ENTITY_FIELD
          - ALARM_FIELD
        key:
          type: string
    TenantId:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: ID of the entity, time-based UUID v1
          example: 784f394c-42b6-435a-983c-b7beff2784f9
        entityType:
          type: string
          description: string
          enum:
          - TENANT
          example: TENANT
      required:
      - entityType
      - id
    EntityDataSortOrder:
      type: object
      properties:
        key:
          $ref: '#/components/schemas/EntityKey'
        direction:
          type: string
          enum:
          - ASC
          - DESC
    ApiUsageStateFilter:
      allOf:
      - $ref: '#/components/schemas/EntityFilter'
      - type: object
        properties:
          customerId:
            $ref: '#/components/schemas/CustomerId'
    DeviceTypeFilter:
      allOf:
      - $ref: '#/components/schemas/EntityFilter'
      - type: object
        properties:
          deviceType:
            type: string
            deprecated: true
            writeOnly: true
          deviceTypes:
            type: array
            items:
              type: string
          deviceNameFilter:
            type: string
    EdgeTypeFilter:
      allOf:
      - $ref: '#/components/schemas/EntityFilter'
      - type: object
        properties:
          edgeType:
            type: string
            deprecated: true
            writeOnly: true
          edgeTypes:
            type: array
            items:
              type: string
          edgeNameFilter:
            type: string
    EdgeSearchQueryFilter:
      allOf:
      - $ref: '#/components/schemas/EntityFilter'
      - type: object
        properties:
          rootEntity:
            $ref: '#/components/schemas/AliasEntityId'
          relationType:
            type: string
          direction:
            type: string
            enum:
            - FROM
            - TO
          maxLevel:
            type: integer
            format: int32
          fetchLastLevelOnly:
            type: boolean
          rootStateEntity:
            type: boolean
          defaultStateEntity:
            $ref: '#/components/schemas/AliasEntityId'
          edgeTypes:
            type: array
            items:
              type: string
    AlarmDataQuery:
      type: object
      description: A JSON value representing the alarm data query. See API call notes above for more details.
      properties:
        entityFilter:
          oneOf:
          - $ref: '#/components/schemas/ApiUsageStateFilter'
          - $ref: '#/components/schemas/AssetSearchQueryFilter'
          - $ref: '#/components/schemas/AssetTypeFilter'
          - $ref: '#/components/schemas/DeviceSearchQueryFilter'
          - $ref: '#/components/schemas/DeviceTypeFilter'
          - $ref: '#/components/schemas/EdgeSearchQueryFilter'
          - $ref: '#/components/schemas/EdgeTypeFilter'
          - $ref: '#/components/schemas/EntityListFilter'
          - $ref: '#/components/schemas/EntityNameFilter'
          - $ref: '#/components/schemas/EntityTypeFilter'
          - $ref: '#/components/schemas/EntityViewSearchQueryFilter'
          - $ref: '#/components/schemas/EntityViewTypeFilter'
          - $ref: '#/components/schemas/RelationsQueryFilter'
          - $ref: '#/components/schemas/SingleEntityFilter'
        keyFilters:
          type: array
          items:
            $ref: '#/components/schemas/KeyFilter'
        pageLink:
          $ref: '#/components/schemas/AlarmDataPageLink'
        entityFields:
          type: array
          items:
            $ref: '#/components/schemas/EntityKey'
        latestValues:
          type: array
          items:
            $ref: '#/components/schemas/EntityKey'
        alarmFields:
          type: array
          items:
            $ref: '#/components/schemas/EntityKey'
    CustomerId:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: ID of the entity, time-based UUID v1
          example: 784f394c-42b6-435a-983c-b7beff2784f9
        entityType:
          type: string
          description: string
          enum:
          - CUSTOMER
          example: CUSTOMER
      required:
      - entityType
      - id
    ToCoreEdqsRequest:
      type: object
      properties:
        syncRequest:
          $ref: '#/components/schemas/EdqsSyncRequest'
        apiEnabled:
          type: boolean
    AlarmId:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: ID of the entity, time-based UUID v1
          example: 784f394c-42b6-435a-983c-b7beff2784f9
        entityType:
          type: string
          description: string
          enum:
          - ALARM
          example: ALARM
      required:
      - entityType
      - id
    EntityViewTypeFilter:
      allOf:
      - $ref: '#/components/schemas/EntityFilter'
      - type: object
        properties:
          entityViewType:
            type: string
            deprecated: true
            writeOnly: true
          entityViewTypes:
            type: array
            items:
              type: string
          entityViewNameFilter:
            type: string
    EntityTypeFilter:
      allOf:
      - $ref: '#/components/schemas/EntityFilter'
      - type: object
        properties:
          entityType:
            type: string
            enum:
            - TENANT
            - CUSTOMER
            - USER
            - DASHBOARD
            - ASSET
            - DEVICE
            - ALARM
            - RULE_CHAIN
            - RULE_NODE
            - ENTITY_VIEW
            - WIDGETS_BUNDLE
            - WIDGET_TYPE
            - TENANT_PROFILE
            - DEVICE_PROFILE
            - ASSET_PROFILE
            - API_USAGE_STATE
            - TB_RESOURCE
            - OTA_PACKAGE
            - EDGE
            - RPC
            - QUEUE
            - NOTIFICATION_TARGET
            - NOTIFICATION_TEMPLATE
            - NOTIFICATION_REQUEST
            - NOTIFICATION
            - NOTIFICATION_RULE
            - QUEUE_STATS
            - OAUTH2_CLIENT
            - DOMAIN
            - MOBILE_APP
            - MOBILE_APP_BUNDLE
            - CALCULATED_FIELD
            - JOB
            - ADMIN_SETTINGS
            - AI_MODEL
            - API_KEY
    AlarmData:
      type: object
      properties:
        entityId:
          $ref: '#/components/schemas/EntityId'
        latest:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/TsValue'
        id:
          $ref: '#/components/schemas/AlarmId'
          description: JSON object with the alarm Id. Specify this field to update the alarm. Referencing non-existing alarm Id will cause error. Omit this field to create new alarm.
        createdTime:
          type: integer
          format: int64
          description: Timestamp of the alarm creation, in milliseconds
          example: 1634058704567
          readOnly: true
        tenantId:
          $ref: '#/components/schemas/TenantId'
          description: JSON object with Tenant Id
          readOnly: true
        customerId:
          $ref: '#/components/schemas/CustomerId'
          description: JSON object with Customer Id
          readOnly: true
        type:
          type: string
          description: representing type of the Alarm
          example: High Temperature Alarm
        originator:
          $ref: '#/components/schemas/EntityId'
          description: JSON object with alarm originator id
        severity:
          type: string
          description: Alarm severity
          enum:
          - CRITICAL
          - MAJOR
          - MINOR
          - WARNING
          - INDETERMINATE
          example: CRITICAL
        acknowledged:
          type: boolean
          description: Acknowledged
          example: true
        cleared:
          type: boolean
          description: Cleared
          example: false
        assigneeId:
          $ref: '#/components/schemas/UserId'
          description: Alarm assignee user id
        startTs:
          type: integer
          format: int64
          description: Timestamp of the alarm start time, in milliseconds
          example: 1634058704565
        endTs:
          type: integer
          format: int64
          description: Timestamp of the alarm end time(last time update), in milliseconds
          example: 1634111163522
        ackTs:
          type: integer
          format: int64
          description: Timestamp of the alarm acknowledgement, in milliseconds
          example: 1634115221948
        clearTs:
          type: integer
          format: int64
          description: Timestamp of the alarm clearing, in milliseconds
          example: 1634114528465
        assignTs:
          type: integer
          format: int64
          description: Timestamp of the alarm assignment, in milliseconds
          example: 1634115928465
        propagate:
          type: boolean
          description: Propagation flag to specify if alarm should be propagated to parent entities of alarm originator
          example: true
        propagateToOwner:
          type: boolean
          description: Propagation flag to specify if alarm should be propagated to the owner (tenant or customer) of alarm originator
          example: true
        propagateToTenant:
          type: boolean
          description: Propagation flag to specify if alarm should be propagated to the tenant entity
          example: true
        propagateRelationTypes:
          type: array
          description: JSON array of relation types that should be used for propagation. By default, 'propagateRelationTypes' array is empty which means that the alarm will be propagated based on any relation type to parent entities. This parameter should be used only in case when 'propagate' parameter is set to true, otherwise, 'propagateRelationTypes' array will be ignored.
          items:
            type: string
        originatorName:
          type: string
          description: Alarm originator name
          example: Thermostat
        originatorLabel:
          type: string
          description: Alarm originator label
          example: Thermostat label
        originatorDisplayName:
          type: string
          description: Originator display name
          example: Thermostat
        assignee:
          $ref: '#/components/schemas/AlarmAssignee'
          description: Alarm assignee
        name:
          type: string
          description: representing type of the Alarm
          example: High Temperature Alarm
          readOnly: true
        status:
          type: string
          description: status of the Alarm
          enum:
          - ACTIVE_UNACK
          - ACTIVE_ACK
          - CLEARED_UNACK
          - CLEARED_ACK
          example: ACTIVE_UNACK
          readOnly: true
        details:
          $ref: '#/components/schemas/JsonNode'
      required:
      - acknowledged
      - cleared
      - name
      - originator
      - severity
      - status
      - type
    EdqsState:
      type: object
      properties:
        edqsReady:
          type: boolean
        syncStatus:
          type: string
          enum:
          - REQUESTED
          - STARTED
          - FINISHED
          - FAILED
        apiMode:
          type: string
          enum:
          - ENABLED
          - AUTO_ENABLED
          - DISABLED
          - AUTO_DISABLED
    TsValue:
      type: object
      properties:
        ts:
          type: integer
          format: int64
        value:
          type: string
        count:
          type: integer
          format: int64
    FilterPredicateValueDouble:
      type: object
      properties:
        defaultValue:
          type: number
          format: double
        userValue:
          type: number
          format: double
        dynamicValue:
          $ref: '#/components/schemas/DynamicValueDouble'
    AssetSearchQueryFilter:
      allOf:
      - $ref: '#/components/schemas/EntityFilter'
      - type: object
        properties:
          rootEntity:
            $ref: '#/components/schemas/AliasEntityId'
          relationType:
            type: string
          direction:
            type: string
            enum:
            - FROM
            - TO
          maxLevel:
            type: integer
            format: int32
          fetchLastLevelOnly:
            type: boolean
          rootStateEntity:
            type: boolean
          defaultStateEntity:
            $ref: '#/components/schemas/AliasEntityId'
          assetTypes:
            type: array
            items:
              type: string
    EntityDataQuery:
      type: object
      description: Entity data query to find entities. Page size is capped at 100.
      properties:
        entityFilter:
          oneOf:
          - $ref: '#/components/schemas/ApiUsageStateFilter'
          - $ref: '#/components/schemas/AssetSearchQueryFilter'
          - $ref: '#/components/schemas/AssetTypeFilter'
          - $ref: '#/components/schemas/DeviceSearchQueryFilter'
          - $ref: '#/components/schemas/DeviceTypeFilter'
          - $ref: '#/components/schemas/EdgeSearchQueryFilter'
          - $ref: '#/components/schemas/EdgeTypeFilter'
          - $ref: '#/components/schemas/EntityListFilter'
          - $ref: '#/components/schemas/EntityNameFilter'
          - $ref: '#/components/schemas/EntityTypeFilter'
          - $ref: '#/components/schemas/EntityViewSearchQueryFilter'
          - $ref: '#/components/schemas/EntityViewTypeFilter'
          - $ref: '#/components/schemas/RelationsQueryFilter'
          - $ref: '#/components/schemas/SingleEntityFilter'
        keyFilters:
          type: array
          items:
            $ref: '#/components/schemas/KeyFilter'
        pageLink:
          $ref: '#/components/schemas/EntityDataPageLink'
        entityFields:
          type: array
          items:
            $ref: '#/components/schemas/EntityKey'
        latestValues:
          type: array
          items:
            $ref: '#/components/schemas/EntityKey'
    FilterPredicateValueBoolean:
      type: object
      properties:
        defaultValue:
          type: boolean
        userValue:
          type: boolean
        dynamicValue:
          $ref: '#/components/schemas/DynamicValueBoolean'
    DynamicValueDouble:
      type: object
      properties:
        sourceType:
          type: string
          enum:
          - CURRENT_TENANT
          - CURRENT_CUSTOMER
          - CURRENT_USER
          - CURRENT_DEVICE
        sourceAttribute:
          type: string
        inherit:
          type: boolean
        resolvedValue:
          type: number
          format: double
    KeyFilter:
      type: object
      properties:
        key:
          $ref: '#/components/schemas/EntityKey'
        valueType:
          type: string
          enum:
          - STRING
          - NUMERIC
          - BOOLEAN
          - DATE_TIME
        predicate:
          oneOf:
          - $ref: '#/components/schemas/BooleanFilterPredicate'
          - $ref: '#/components/schemas/ComplexFilterPredicate'
          - $ref: '#/components/schemas/NumericFilterPredicate'
          - $ref: '#/components/schemas/StringFilterPredicate'
    AlarmAssignee:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UserId'
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
    AlarmCountQuery:
      type: object
      description: A JSON value representing the alarm count query.
      properties:
        startTs:
          type: integer
          format: int64
        endTs:
          type: integer
          format: int64
        timeWindow:
          type: integer
          format: int64
        typeList:
          type: array
          items:
            type: string
        statusList:
          type: array
          items:
            type: string
            enum:
            - ANY
            - ACTIVE
            - CLEARED
            - ACK
            - UNACK
        severityList:
          type: array
          items:
            type: string
            enum:
            - CRITICAL
            - MAJOR
            - MINOR
            - WARNING
            - INDETERMINATE
        searchPropagatedAlarms:
          type: boolean
        assigneeId:
          $ref: '#/components/schemas/UserId'
        entityFilter:
          oneOf:
          - $ref: '#/components/schemas/ApiUsageStateFilter'
          - $ref: '#/components/schemas/AssetSearchQueryFilter'
          - $ref: '#/components/schemas/AssetTypeFilter'
          - $ref: '#/components/schemas/DeviceSearchQueryFilter'
          - $ref: '#/components/schemas/DeviceTypeFilter'
          - $ref: '#/components/schemas/EdgeSearchQueryFilter'
          - $ref: '#/components/schemas/EdgeTypeFilter'
          - $ref: '#/components/schemas/EntityListFilter'
          - $ref: '#/components/schemas/EntityNameFilter'
          - $ref: '#/components/schemas/EntityTypeFilter'
          - $ref: '#/components/schemas/EntityViewSearchQueryFilter'
          - $ref: '#/components/schemas/EntityViewTypeFilter'
          - $ref: '#/components/schemas/RelationsQueryFilter'
          - $ref: '#/components/schemas/SingleEntityFilter'
        keyFilters:
          type: array
          items:
            $ref: '#/components/schemas/KeyFilter'
    FilterPredicateValueString:
      type: object
      properties:
        defaultValue:
          type: string
        userValue:
          type: string
        dynamicValue:
          $ref: '#/components/schemas/DynamicValueString'
    JsonNode:
      description: A value representing the any type (object or primitive)
      examples:
      - {}
    ComparisonTsValue:
      type: object
      properties:
        current:
          $ref: '#/components/schemas/TsValue'
        previous:
          $ref: '#/components/schemas/TsValue'
    DynamicValueBoolean:
      type: object
      properties:
        sourceType:
          type: string
          enum:
          - CURRENT_TENANT
          - CURRENT_CUSTOMER
          - CURRENT_USER
          - CURRENT_DEVICE
        sourceAttribute:
          type: string
        inherit:
          type: boolean
        resolvedValue:
          type: boolean
    SingleEntityFilter:
      allOf:
      - $ref: '#/components/schemas/EntityFilter'
      - type: object
        properties:
          singleEntity:
            $ref: '#/components/schemas/AliasEntityId'
    EntityDataPageLink:
      type: object
      properties:
        pageSize:
          type: integer
          format: int32
        page:
          type: integer
          format: int32
        textSearch:
          type: string
        sortOrder:
          $ref: '#/components/schemas/EntityDataSortOrder'
        dynamic:
          type: boolean
  securitySchemes:
    HTTP_login_form:
      type: http
      description: Enter Username / Password
      scheme: loginPassword
      bearerFormat: /api/auth/login|X-Authorization
    API_key_form:
      type: apiKey
      description: 'Enter the API key value with ''ApiKey'' prefix in format: **ApiKey <your_api_key_value>**


        Example: **ApiKey tb_5te51SkLRYpjGrujUGwqkjFvooWBlQpVe2An2Dr3w13wjfxDW**


        <br>**NOTE**: Use only ONE authentication method at a time. If both are authorized, JWT auth takes the priority.<br>

        '
      name: X-Authorization
      in: header
