openapi: 3.2.0
info:
  title: ThingsBoard RPC Rpc V 1 Controller API
  description: 'ThingsBoard RPC API — subset of the ThingsBoard REST API (open-source IoT platform). Covers: Rpc V 1, Rpc V 2.'
  version: 4.3.0.3DEMO
  contact:
    name: ThingsBoard team
    url: https://thingsboard.io
    email: info@thingsboard.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://demo.thingsboard.io
  description: ThingsBoard Live Demo
- url: http://localhost:8080
  description: Local ThingsBoard server
tags:
- name: rpc-v-1-controller
  description: Rpc V 1
paths:
  /api/plugins/rpc/twoway/{deviceId}:
    post:
      tags:
      - rpc-v-1-controller
      summary: Send Two-way RPC Request (handleTwoWayDeviceRPCRequest)
      description: 'Deprecated. See ''Rpc V 2 Controller'' instead.


        Available for users with ''TENANT_ADMIN'' or ''CUSTOMER_USER'' authority.'
      operationId: handleTwoWayDeviceRPCRequest_1
      parameters:
      - name: deviceId
        in: path
        description: A string value representing the device id. For example, '784f394c-42b6-435a-983c-b7beff2784f9'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              description: A JSON value representing the RPC request.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/plugins/rpc/oneway/{deviceId}:
    post:
      tags:
      - rpc-v-1-controller
      summary: Send One-way RPC Request (handleOneWayDeviceRPCRequest)
      description: 'Deprecated. See ''Rpc V 2 Controller'' instead.


        Available for users with ''TENANT_ADMIN'' or ''CUSTOMER_USER'' authority.'
      operationId: handleOneWayDeviceRPCRequest_1
      parameters:
      - name: deviceId
        in: path
        description: A string value representing the device id. For example, '784f394c-42b6-435a-983c-b7beff2784f9'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              description: A JSON value representing the RPC request.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
components:
  securitySchemes:
    HTTP_login_form:
      type: http
      description: Enter Username / Password
      scheme: loginPassword
      bearerFormat: /api/auth/login|X-Authorization
    API_key_form:
      type: apiKey
      description: 'Enter the API key value with ''ApiKey'' prefix in format: **ApiKey <your_api_key_value>**


        Example: **ApiKey tb_5te51SkLRYpjGrujUGwqkjFvooWBlQpVe2An2Dr3w13wjfxDW**


        <br>**NOTE**: Use only ONE authentication method at a time. If both are authorized, JWT auth takes the priority.<br>

        '
      name: X-Authorization
      in: header
